body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5
}

.logo, .footerlogo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

h1, h2, h3, p

{
        margin:0
    }

.logo {
    margin-right: 76px
}

.footerlogo {
    margin-bottom: 16px;
    display: inline-block;
}

.listone {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
}

.listtwo, .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.solutions {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;

}

.headertwo {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2E2F42;
    margin-bottom: 72px

}

.sectiontwo-list-header {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
    
}

.sectiontwolist, .sectionthreelist
{
gap: 24px;
padding: 0

    }


.sectionthree-li {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.studio {
    color: #2e2f42;
}

.studioone {
    color: #f4f4fd;
}


.sectionthree {
    background-color: #F4F4FD;
}

.sectiontwo-list-header, .button {
    font-weight: 500;
}
.solutions,
.button {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    color: #F4F4FD;
    padding: 100px 0;
    
}
.sectionone, .footer {
        background-color: #2E2F42;;
       
    }

 .button {
            background-color: #4D5AE5;
            cursor:pointer;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px
        
      }
      
.listone:hover,
.listone:focus
  {
    color:#404BBF;
}

.listtwo:hover,
.listtwo:focus {
    color: #404BBF;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    
}

.address {
        font-style: normal
    }

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.section {
        padding-top: 120px;
        padding-bottom: 120px
    }

.sectionone {
    color: #FFFFFF;
    padding: 188px 0
}
 .container {
            width: 1158px;
            margin: 0 auto;
            padding: 0 15px
        }

     .header, .nav, ul, .address, .containerone  {
                display: flex;
                flex-wrap: wrap
                
            }

.containerone {
    align-items: center;
}

img {
        display: block
        
    }

    .header {
            border-bottom: 1px solid #e7e9fc
        }

.nav {
        align-items: center;
        margin-right: auto;
    }

    .addresslist, .navlist {
        gap: 40px
        }

.visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
   }



 .sectiontwolistitem, .sectionthree-li {
    width: calc((100% - 3 * 24px) / 4)
 }

 .containerlist

 {
    padding: 32px 0
 }



.containerlist-four

{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none
    }

 .sectionfourlist {
                column-gap: 24px;
                row-gap: 48px
            }

.team { 
    text-align: center;
}